@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Mesajlar</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Gelen Mesaj Listesi</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                Mesajlar ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                            </div>
                            <table class="table mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">Mesaj Numarası</th>
                                        <th scope="col">Gönderen</th>
                                        <th scope="col">Konu</th>
                                        <th scope="col">Tarih</th>
                                        <th scope="col">E-Mail</th>
                                        <th scope="col">.</th>
                                        <th scope="col">Mesajı Aç</th>
                                        <th scope="col">Durum</th>
                                        <th scope="col">Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MessageId</td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Subject</td>
                                            <td>@item.SendDate.ToShortDateString()</td>
                                            <td>@item.Email
                                            <td>
                                            <td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn-outline-success" style="border-radius:30px">Mesajı Aç</a></td>
                                            </td>
                                            @if (item.IsRead == true)
                                            {
                                                <td><a href="/Message/ChangeIsReadToFalse/@item.MessageId" class="btn btn-outline-warning" style="border-radius:30px">Okunmadı Olarak Değiştir</a></td>
                                            }
                                            else
                                            {
                                                <td><a href="/Message/ChangeIsReadToTrue/@item.MessageId" class="btn btn-outline-primary" style="border-radius:30px">Okundu Olarak Değiştir</a></td>
                                            }
                                            <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger" style="border-radius:30px">Sil</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

